body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: space-between;
}

.bmi-calculator, .result {
    background-color: #fff;
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#result {
    background-color: rgb(128, 236, 78);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* adjust the width to your needs */
    margin: 20px auto;
    text-align: center;
  }
  
  #result h3 {
    margin-top: 0;
  }
  
  #result p {
    margin-bottom: 20px;
  }
.bmi-calculator h2, .result h2 {
    text-align: center;
    color: #61f165ea;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.radio-group label {
    margin-right: 15px;
    font-weight: normal;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.features ul, .risk-diseases ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.features li, .risk-diseases li {
    margin-bottom: 10px;
}

.button-group .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-group .btn.primary {
    background-color: #61f165ea;
    color: #fff;
}

.button-group .btn.primary:hover {
    background-color: #61f165ea;
}

.button-group .btn.secondary {
    background-color: #61f165ea;
    color: #333;
}

.button-group .btn.secondary:hover {
    background-color: #ddd;
}



.download-app {
    margin-top: 20px;
    text-align: center;
    display: flex; /* add this to make the images layout horizontally */
    flex-wrap: wrap; /* add this to wrap the images to the next line if necessary */
    justify-content: center; /* add this to center the images horizontally */
}

.download-app img {
    width: 150px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-app img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* Responsive styles */
@media (max-width: 768px) {
    .bmi-calculator, .result {
        width: 100%;
    }

    .input-group, .button-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group label, .radio-group {
        width: 100%;
    }
}
